@font-face{
    font-family:"Bariol";
    src:url("fonts/Bariolbold.ttf");
}
@font-face{
    font-family:"Bariolthin";
    src:url("fonts/Bariolthin.ttf");
}
@font-face{
    font-family:"cooper";
    src:url("fonts/cooperm.ttf");
}

*{

    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#0000FF,#8c7ae6);
    min-height: 100vh;
}
/* HEADER */

h1{
    float: left;
    margin-left: 10px;
    font-family: Bariol;
    clear: both;
}
h1 a{
    text-decoration: none;
}
h1 a:visited {
color: plum;
}
nav{
    float: right;
    margin-top: 10px;
    
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: Bariolthin;
}

nav ul li a {
    text-decoration: none;
}
nav ul li a:hover{
color: plum;
}
/** DIV **/

.places{
clear: both;
margin-left: 420px;
font-family: cooper;
    padding-top: 30px;
}

/** SVG **/
svg{
    width: 50%;
    height: 50%;
}
.svg{
    margin-left: 40px;